.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
}

.form-btn {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: darkred;
  box-shadow: inset 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: gold;
  cursor: pointer;
  filter: invert(1);
  transition: all 0.3s linear;
}

.form-btn._successes:hover {
  filter: invert(0) drop-shadow(0px 5px 10px black);
}

.link {
  color: aqua;
}

.form-btn {
  margin-top: 0.5rem; 
}
.form-btn._disable {
  cursor: default;
}

